code {
    font-family:"Cascadia code", "Courier New", monospace!important;
    background-color: rgba(193, 226, 240, 0.5)!important;
    border: 0.05rem solid #D3D3D3;
	border-radius: 1rem!important;
}
pre{
    background:rgba(255, 255, 255, 0)!important;
    z-index:0!important;
}
pre code {
	margin: 0.8rem 0.8rem!important;
	display: block!important;
	box-shadow: 0 0 0px 0px rgba(151, 151, 151, 0.9);
    border-top: rgba(244, 244, 244, 0.6) solid 1.8rem;
    background-color: rgba(193, 226, 240, 0.5)!important;
    position:relative!important;
	line-height: 1.8rem;
	font-size: 1rem!important;
	font-weight: 380!important;
	border-radius: 1rem!important;
    font-family:"Cascadia code", "Courier New", monospace!important;
    padding: 0rem 1rem!important;


    white-space: pre;
    overflow-x: auto;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0,0,0,0.1) 50%);
    background-size: 100% 3.6rem; /* 调整为行高的两倍 */

}

pre code:before {
    position: absolute!important;
    font-family: 'Lucida calligraphy'; /* 修改字体为 Brush Script */
    font-size: 1.1rem!important; /* 修改字体大小为 24px */
    color: #8B0000; /* 修改字体颜色为洋红色 */
    font-weight:bold;
    /*margin-top: -1.6rem;*/

	top: -1.0rem!important;
	left: 1rem!important;

	height: 1rem!important;
	width: 100%!important;

    font-size: 1rem!important;
    letter-spacing: 0.05rem;
    z-index:10000!important;
}

code.language-TXT:before,
code.language-txt:before {
    content: 'TXT';
}

/* 以下为代码语言显示语句 */
/* —————————————————————————————————————————————————————————A————————————————————————————————————————————————————————— */
code.language-ABAP:before,
code.language-abap:before {
  content: 'ABAP';
}

code.language-apl:before,
code.language-APL:before {
  content: 'APL';
}

code.language-asciiarmor:before,
code.language-ASCIIARMOR:before {
  content: 'ASCII-Armor';
}

code.language-ASN.1:before,
code.language-asn.1:before {
  content: 'ASN.1';
}

code.language-asp:before,
code.language-ASP:before {
  content: 'ASP';
}

/* —————————————————————————————————————————————————————————B————————————————————————————————————————————————————————— */
code.language-bash:before,
code.language-Bash:before {
  content: 'Bash';
}

code.language-basic:before,
code.language-Basic:before {
  content: 'BASIC';
}


/* —————————————————————————————————————————————————————————C————————————————————————————————————————————————————————— */
code.language-C:before,
code.language-c:before {
  content: 'C';
}

code.language-c#:before,
code.language-C#:before,
code.language-csharp:before,
code.language-CSharp:before {
  content: 'C#';
}

code.language-c++:before,
code.language-C++:before,
code.language-CPP:before,
code.language-cpp:before {
  content: 'C++';
}

code.language-cassandra:before,
code.language-Cassandra:before {
  content: 'Cassandra';
}

code.language-ceylon:before,
code.language-Ceylon:before {
  content: 'Ceylon';
}

code.language-clike:before,
code.language-Clike:before {
  content: 'C-like';
}

code.language-clojure:before,
code.language-clojure:before {
  content: 'Clojure';
}

code.language-CMake:before,
code.language-cmake:before {
  content: 'CMake';
}

code.language-cobol:before,
code.language-COBOL:before {
  content: 'COBOL';
}

code.language-coffeescript:before,
code.language-CoffeeScript:before {
  content: 'CoffeeScript';
}

code.language-commonlisp:before,
code.language-CommonLisp:before {
  content: 'Common Lisp';
}

code.language-CQL:before,
code.language-cql:before {
  content: 'CQL';
}

code.language-crystal:before,
code.language-Crystal:before {
  content: 'Crystal';
}

code.language-css:before,
code.language-CSS:before {
  content: 'CSS';
}

code.language-cypher:before,
code.language-Cypher:before {
  content: 'Cypher';
}

code.language-cython:before,
code.language-Cython:before {
  content: 'Cython';
}


/* —————————————————————————————————————————————————————————D————————————————————————————————————————————————————————— */
code.language-D:before,
code.language-d:before {
  content: 'D';
}

code.language-dart:before,
code.language-Dart:before {
  content: 'Dart';
}

code.language-diff:before,
code.language-Diff:before {
  content: 'Diff';
}

code.language-django:before,
code.language-Django:before {
  content: 'Django';
}

code.language-dockerfile:before,
code.language-Dockerfile:before {
  content: 'Dockerfile';
}

code.language-dtd:before,
code.language-DTD:before {
  content: 'DTD';
}

code.language-Dylan:before,
code.language-dylan:before {
  content: 'Dylan';
}


/* —————————————————————————————————————————————————————————E————————————————————————————————————————————————————————— */
code.language-elixir:before,
code.language-Elixir:before {
  content: 'Elixir';
}

code.language-Elm:before,
code.language-elm:before {
  content: 'Elm';
}

code.language-Embedded JS:before,
code.language-embeddedjs:before {
  content: 'Embedded JS';
}

code.language-erlang:before,
code.language-Erlang:before {
  content: 'Erlang';
}


/* —————————————————————————————————————————————————————————F————————————————————————————————————————————————————————— */
code.language-F#:before,
code.language-f#:before,
code.language-fsharp:before,
code.language-Fsharp:before {
  content: 'F#';
}

code.language-flow:before,
code.language-Flow:before {
  content: 'Flow';
}

code.language-forth:before,
code.language-Forth:before {
  content: 'Forth';
}

code.language-fortran:before,
code.language-Fortran:before {
  content: 'Fortran';
}


/* —————————————————————————————————————————————————————————G————————————————————————————————————————————————————————— */
code.language-gas:before,
code.language-Gas:before {
  content: 'Gas';
}

code.language-gfm:before,
code.language-GFW:before {
  content: 'GFW';
}

code.language-gherkin:before,
code.language-Gherkin:before {
  content: 'Gherkin';
}

code.language-glsl:before,
code.language-GLSL:before {
  content: 'GLSL';
}

code.language-Go:before,
code.language-go:before {
  content: 'Go';
}

code.language-Groovy:before,
code.language-groovy:before {
  content: 'Groovy';
}


/* —————————————————————————————————————————————————————————H————————————————————————————————————————————————————————— */
code.language-handlebars:before,
code.language-Handlebars:before {
  content: 'Handlebars';
}

code.language-haskell:before,
code.language-Haskell:before {
  content: 'Haskell';
}

code.language-haxe:before,
code.language-Haxe:before {
  content: 'Haxe';
}

code.language-htaccess:before,
code.language-Htaccess:before {
  content: 'Htaccess';
}

code.language-html:before,
code.language-HTML:before {
  content: 'HTML';
}

code.language-HTTP:before,
code.language-http:before {
  content: 'HTTP';
}

code.language-hxml:before,
code.language-HXML:before {
  content: 'HXML';
}


/* —————————————————————————————————————————————————————————I————————————————————————————————————————————————————————— */
code.language-IDL:before,
code.language-idl:before {
  content: 'IDL';
}

code.language-ini:before,
code.language-INI:before {
  content: 'INI';
}


/* —————————————————————————————————————————————————————————J————————————————————————————————————————————————————————— */
code.language-jade:before,
code.language-Jade:before {
  content: 'Jade';
}

code.language-java:before,
code.language-Java:before {
  content: 'Java';
}

code.language-javascript:before,
code.language-JavaScript:before,
code.language-JS:before,
code.language-js:before {
  content: 'JavaScript';
}

code.language-jinja2:before,
code.language-Jinja2:before {
  content: 'Jinja2';
}

code.language-json:before,
code.language-JSON:before {
  content: 'JSON';
}

code.language-JSP:before,
code.language-jsp:before {
  content: 'JSP';
}

code.language-jsx:before,
code.language-JSX:before {
  content: 'JSX';
}


/* —————————————————————————————————————————————————————————K————————————————————————————————————————————————————————— */
code.language-Kotlin:before,
code.language-kotlin:before {
  content: 'Kotlin';
}


/* —————————————————————————————————————————————————————————L————————————————————————————————————————————————————————— */
code.language-LATEX:before,
code.language-Latex:before {
  content: 'LaTeX';
}

code.language-less:before,
code.language-Less:before {
  content: 'Less';
}

code.language-lisp:before,
code.language-LISP:before {
  content: 'LISP';
}

code.language-livescript:before,
code.language-LiveScript:before {
  content: 'LiveScript';
}

code.language-Lua:before,
code.language-lua:before {
  content: 'Lua';
}


/* —————————————————————————————————————————————————————————M————————————————————————————————————————————————————————— */
code.language-makefile:before,
code.language-Makefile:before {
  content: 'Makefile';
}

code.language-mariadb:before,
code.language-MariaDB:before {
  content: 'MariaDB';
}

code.language-markdown:before,
code.language-Markdown:before {
  content: 'Markdown';
}

code.language-mathematica:before,
code.language-Mathematica:before {
  content: 'Mathematica';
}

code.language-matlab:before,
code.language-MATLAB:before {
  content: 'MATLAB';
}

code.language-mbox:before,
code.language-MBOX:before {
  content: 'MBOX';
}

code.language-mermaid:before,
code.language-Mermaid:before {
  content: 'Mermaid';
}

code.language-mssql:before,
code.language-MSSQL:before {
  content: 'MSSQL';
}

code.language-mysql:before,
code.language-MySQL:before {
  content: 'MySQL';
}


/* —————————————————————————————————————————————————————————N————————————————————————————————————————————————————————— */
code.language-nginx:before,
code.language-Nginx:before {
  content: 'Nginx';
}

code.language-nim:before,
code.language-Nim:before {
  content: 'Nim';
}

code.language-nsis:before,
code.language-NSIS:before {
  content: 'NSIS';
}


/* —————————————————————————————————————————————————————————O————————————————————————————————————————————————————————— */
code.language-objc:before,
code.language-Obj-C:before,
code.language-objective-c:before,
code.language-Objective-C:before {
  content: 'Objective-C';
}

code.language-ocaml:before,
code.language-OCaml:before {
  content: 'OCaml';
}

code.language-octave:before,
code.language-Octave:before {
  content: 'Octave';
}

code.language-Oz:before,
code.language-oz:before {
  content: 'Oz';
}


/* —————————————————————————————————————————————————————————P————————————————————————————————————————————————————————— */
code.language-pascal:before,
code.language-Pascal:before {
  content: 'Pascal';
}

code.language-perl:before,
code.language-Perl:before {
  content: 'Perl';
}

code.language-perl6:before,
code.language-Perl 6:before {
  content: 'Perl 6';
}

code.language-PGP:before,
code.language-pgp:before {
  content: 'PGP';
}

code.language-php:before,
code.language-PHP:before {
  content: 'PHP';
}

code.language-php+HTML:before {
  content: 'PHP+HTML';
}

code.language-plsql:before,
code.language-PL/SQL:before {
  content: 'PL/SQL';
}

code.language-powershell:before,
code.language-PowerShell:before {
  content: 'PowerShell';
}

code.language-properties:before,
code.language-Properties:before {
  content: 'Properties';
}

code.language-protobuf:before,
code.language-Protobuf:before {
  content: 'Protobuf';
}

code.language-pseudocode:before,
code.language-Pseudocode:before {
  content: 'Pseudocode';
}

code.language-python:before,
code.language-Python:before {
  content: 'Python';
}

code.language-Kotlin:before,
code.language-kotlin:before {
  content: 'Kotlin';
}


/* —————————————————————————————————————————————————————————Q————————————————————————————————————————————————————————— */
code.language-Q:before,
code.language-q:before {
  content: 'Q';
}


/* —————————————————————————————————————————————————————————R————————————————————————————————————————————————————————— */
code.language-R:before,
code.language-r:before {
  content: 'R';
}

code.language-react:before,
code.language-kotlin:before {
  content: 'React';
}

code.language-reStructuredText:before,
code.language-restructuredtext:before,
code.language-rst:before {
  content: 'reStructuredText';
}

code.language-ruby:before,
code.language-Ruby:before {
  content: 'Ruby';
}

code.language-Rust:before,
code.language-rust:before {
  content: 'Rust';
}


/* —————————————————————————————————————————————————————————S————————————————————————————————————————————————————————— */
code.language-SAS:before,
code.language-sas:before {
  content: 'SAS';
}

code.language-scala:before,
code.language-Scala:before {
  content: 'Scala';
}

code.language-scheme:before,
code.language-Scheme:before {
  content: 'Scheme';
}

code.language-scss:before,
code.language-Sass:before {
  content: 'Sass';
}

code.language-sequence:before,
code.language-Sequence:before {
  content: 'Sequence';
}

pre[lang^='sh:before,
pre[lang^='SH:before,
code.language-shell:before {
  content: 'Shell';
}

code.language-smalltalk:before,
code.language-Smalltalk:before {
  content: 'Smalltalk';
}

code.language-solidity:before,
code.language-Solidity:before {
  content: 'Solidity';
}

code.language-SPARQL:before,
code.language-sparql:before {
  content: 'SPARQL';
}

code.language-spreadsheet:before,
code.language-Spreadsheet:before {
  content: 'Spreadsheet';
}

code.language-sql:before,
code.language-SQL:before {
  content: 'SQL';
}

code.language-sqlite:before,
code.language-SQLite:before {
  content: 'SQLite';
}

code.language-stylus:before,
code.language-Stylus:before {
  content: 'Stylus';
}

code.language-swift:before,
code.language-Swift:before {
  content: 'Swift';
}


/* —————————————————————————————————————————————————————————T————————————————————————————————————————————————————————— */
code.language-tcl:before,
code.language-TCL:before {
  content: 'TCL';
}

code.language-tex:before,
code.language-TeX:before {
  content: 'TeX';
}

code.language-tiddlywiki:before,
code.language-TiddlyWiki:before {
  content: 'TiddlyWiki';
}

code.language-tiki wiki:before,
code.language-Tikiwiki:before {
  content: 'Tikiwiki';
}

code.language-toml:before,
code.language-TOML:before {
  content: 'TOML';
}

code.language-tsx:before,
code.language-TSX:before {
  content: 'TSX';
}

code.language-turtle:before,
code.language-Turtle:before {
  content: 'Turtle';
}

code.language-twig:before,
code.language-Twig:before {
  content: 'Twig';
}

code.language-TypeScript:before,
code.language-typescript:before,
code.language-ts:before,
code.language-TS:before {
  content: 'TypeScript';
}


/* —————————————————————————————————————————————————————————U————————————————————————————————————————————————————————— */


/* —————————————————————————————————————————————————————————V————————————————————————————————————————————————————————— */
code.language-V:before,
code.language-v:before {
  content: 'V';
}

code.language-vb:before,
code.language-VB:before {
  content: 'VB';
}

code.language-VBScript:before,
code.language-vbscript:before {
  content: 'VBScript';
}

code.language-velocity:before,
code.language-Velocity:before {
  content: 'Velocity';
}

code.language-verilog:before,
code.language-Verilog:before {
  content: 'Verilog';
}

code.language-vhdl:before,
code.language-VHDL:before {
  content: 'VHDL';
}

code.language-visual basic:before,
code.language-Visual Basic:before {
  content: 'Visual Basic';
}

code.language-vue:before,
code.language-Vue:before {
  content: 'Vue';
}


/* —————————————————————————————————————————————————————————W————————————————————————————————————————————————————————— */
code.language-web-idl:before,
code.language-Web IDL:before {
  content: 'Web IDL';
}

code.language-wiki:before,
code.language-Wiki:before {
  content: 'Wiki';
}


/* —————————————————————————————————————————————————————————X————————————————————————————————————————————————————————— */
code.language-xaml:before,
code.language-XAML:before {
  content: 'XAML';
}

code.language-xml:before,
code.language-XML:before {
  content: 'XML';
}

code.language-xml-dtd:before,
code.language-XML DTD:before {
  content: 'XML DTD';
}

code.language-xquery:before,
code.language-XQuery:before {
  content: 'XQuery';
}


/* —————————————————————————————————————————————————————————Y————————————————————————————————————————————————————————— */
code.language-yacas:before,
code.language-Yacas:before {
  content: 'Yacas';
}

code.language-yaml:before,
code.language-YAML:before {
  content: 'YAML';
}


/* —————————————————————————————————————————————————————————Z————————————————————————————————————————————————————————— */



