.copy-button {
    background-color: #4CAF50; /* 绿色 */
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    position: relative; /* 使其相对定位 */
    z-index: 100; /* 确保在代码块上方 */
}

.copy-button:hover {
    background-color: #45a049; /* 悬停时的颜色 */
    transform: scale(1.05); /* 悬停时放大 */
    transition: background-color 0.3s, transform 0.3s; /* 添加过渡效果 */
}
