html{
    font-size: 25px!important; /* 将根字体大小设置为20px */
}
/* 定义颜色变量 */
:root {
    --level-1-bg: #55739f;
    --level-2-bg: #00696B;
    --level-3-bg: #FFFFE0;
    --level-4-bg: #FFA07A;
    --active-link-color: #FFD1DC;

    --advanced-blue-gray: #55739f;
    --light-orange: #ffa500;
    --light-beige: #f5f5dc; /* 浅米色 */
    --light-purple:#D8BFD8;

    --top-level-bg: #90E2E0;    /* 淡黄 */
    --second-level-bg: #f5f5f5;  /* 浅蓝灰 */
    --third-level-bg: #008080;   /* Teal */
    --fourth-level-bg: #e6e6fa;    /* 浅紫色，即淡薰衣草色 */
    --teal: #008080
}
/* 设置导航栏 */
/* 设置不同级别导航链接的底纹颜色 */
.md-nav {
    background: none; /* 移除默认背景，以便看到底纹 */
}

/* 重置链接背景色为透明 */
.md-nav__link {
    padding-left: 0.8rem;
    border-radius: 0.5rem;
}

.md-nav--primary .md-nav__item {
    background-color: #F8F8F8; /*浅灰*/
    border-radius: 0.2rem;
}

/* 最顶级导航栏底纹颜色为Teal */
.md-nav--primary .md-nav__item > .md-nav__link {
    background-color: var(--top-level-bg);
}

.md-nav--primary .md-nav__item--nested > .md-nav__list > .md-nav__item > .md-nav__link {
    background-color: var(--second-level-bg)!important;
}

.md-nav--primary .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item > .md-nav__link {
    background-color: var(--third-level-bg)!important;
}

.md-nav--primary .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item > .md-nav__link {
    background-color: var(--fourth-level-bg)!important;
}

.md-nav--primary .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item > .md-nav__link,
.md-nav--primary .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item--nested > .md-nav__list > .md-nav__item > .md-nav__link {
    background-color: var(--top-level-bg)!important; /* 与最顶级导航栏颜色相同 */
}

/* 设置激活链接的颜色 */
.md-nav__link--active {
    background-color: #f5f5f5!important;
    color: inherit;
}


/* 所有标题字体颜色为高级蓝灰色，字体为等线 */
h1, h2, h3, h4 {
    color: var(--advanced-blue-gray);
    font-family: 'PingFang SC','等线', serif;
    font-weight: bold!important;
}

h1 {
    text-align: center;
    font-size: 2.8rem!important;
    font-weight: bold!important;
    color: #000000!important;
}

/* 二级标题靠左，蓝灰色底纹，白色字体 */
h2 {
    text-align: left;
    background-color: var(--advanced-blue-gray);
    color: white;
    font-size: 1.8rem!important;
    display: block;
    padding: 16px;
    border-radius: 16px;

    border-left: 16px solid transparent; /* 左边界透明，保持内容对齐 */
    border-right: 16px solid transparent; /* 右边界透明，保持内容对齐 */

}

/* 三级标题字体更小，蓝灰色字体，前面有一个蓝灰色色块用于区分 */
h3 {
    font-size: 1.4rem!important;
    padding-left: 2.0rem;
    position: relative;
}

h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.75rem;
    height: 100%;
    background-color: #55739f;
}

/* 四级标题字体为斜体，浅橙色，字体大小为26 */
h4 {
    font-style: italic!important;
    color: white!important;
    font-size: 1.4rem!important;
    font-weight: bold;
}

/* 正文字体大小为18，所有英文字体为等线，所有中文字体为等线 */
body {
    font-size: 25px;
    background-color: #FFFFFF!important;
    font-family: 'Merriweather', '等线', serif;
}


/*段落*/
p {
    font-size: 1.2rem;
    font-family: 'Merriweather', '等线', serif;
}
/*列表*/
ul, ol {
    font-size: 1.2rem!important;
}

ul ul, ol ol {
    font-size: 1rem!important;
}

ul ul ul, ol ol ol {
    font-size: 0.8rem!important;
}

ul ul ul ul, ol ol ol ol {
    font-size: 0.6rem!important;
}

/* 区块引用：英文：手写体 中文：楷体 */
blockquote {
    font-family: 'Comic Sans MS', '楷体', cursive!important;
    background-color: #ffffcc!important;
}

blockquote p {
    font-family: 'Comic Sans MS', '楷体', cursive!important;
}

/* 表格整体样式 */
table {
    width: 95%; /* 表格宽度为容器宽度的95%，如果需要更宽，可以调整 */
    max-width: 100%; /* 表格最大宽度为100%，超过部分可以出现滚动条 */
    margin: 5px auto; /* 居中显示，如果宽度设为100%，可以去掉auto */
    border-collapse: collapse; /* 边框合并 */
    text-align: center; /* 文本居中对齐 */
    font-family: 'Merriweather', '等线', serif; /* 字体设置 */
    overflow-x: auto; /* 当内容超出时，允许水平滚动 */
}

/* 表格单元格和表头的通用样式 */
table td, table th {
    border: 1px solid transparent; /* 边框为1像素，颜色透明 */
    color: rgb(18, 18, 18); /* 文字颜色 */
    height: 30px; /* 高度为30px */
    padding: 10px; /* 内边距为10px */
    border-radius: .3em; /* 边框圆角半径为0.5em */
    transition: all 0.3s linear; /* 过渡效果 */
}

/* 表格单元格的字体设置 */
table td {
    font-family: 'PingFang SC', '等线', sans-serif; /* 无衬线字体 */
    font-size: 0.9rem; /* 内容字体大小 */
}

/* 表头单元格的样式 */
table thead th {
    background-color: teal; /* 第一行背景色为teal */
    font-size: 1rem; /* 表头字体大小 */
    color: white; /* 文字颜色为白色 */
    font-weight: bold; /* 字体加粗 */
    text-align: center; /* 文本居中对齐 */
    vertical-align: middle; /* 垂直居中对齐 */
    padding: 10px; /* 内边距为10px */
}

/* 鼠标悬浮在单元格上时的样式 */
table td:hover {
  background-color: pink; /* 被选中的强调色为pink */
  color: white; /* 文字颜色为白色 */
  box-shadow: 0 0 10px 5px rgba(0, 128, 128, 0.5); /* 鼠标悬浮时的阴影效果 */
  transition: all 0.3s linear; /* 过渡效果 */
}

/* 确保表格在页面中居中 */
table {
    margin-left: auto;
    margin-right: auto;
}

/* 根据页面宽度调整表格宽度，如果表格内容超出可视区域宽度，允许水平滚动 */
@media screen and (max-width: 768px) {
    table {
        width: auto;
        overflow-x: auto;
    }
}